<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
  rel="stylesheet"
/>

<div class="carousel relative bg-white">
  <div class="carousel-inner relative overflow-hidden w-full">
    <!--Slide 1-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-1"
      name="carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="carousel-item absolute opacity-0" style="height: 70vh">
      <div class="block h-full w-full bg-white text-5xl text-center">
        <div class="pt-6 md:pt-20 lg:pt-20 px-4 mb-1 mx-2 h-screen">
          <section>
            <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
              <div class="max-w-screen-lg mx-auto py-6 lg:py-12 md:py-6">
                <div class="flex flex-col items-center pb-10">
                  <img
                    class="mb-3 md:mb-16 md:w-80 md:h-80 lg:mb-32 lg:w-96 lg:h-96 w-72 h-72 rounded-full"
                    src="https://s3-alpha-sig.figma.com/img/fa53/b55c/99da47546548a8ef2bab70cbfa4761a8?Expires=1641168000&Signature=GAA3iizZ9X9EVDQeUA2WxeVg5Tg8ktQUfAvrMqBdzUZqSyfgA-Jcvnx1T-2sewL0YprXt6NLo5LaMtnpu6zq1RFZfgB9YChwEVO96Yhf1NmS9gbEGpQFCwjj8-V5rO7reHVLRu9qe9PYHKQj9BI1iJFdIS6GmqOghaL-C4jxgszDg7MrbBx~tx9C9nDoM6mYuQIxK82w1exRAWhzLPgcRrMZ7t3ZkHBnZ2jPIaxhIsaYV4KMrOY3~TgE4HMa0wVdKulxzLXuR63iClQ44KPSQpYHqlMyRCLin2R~qVy5VxvsQX6qqWkguyAUY7qL0AgrqyfIjAx~ZnjtOk32wGRVUA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                  />
                  <h3
                    class="mb-1 max-w-4xl text-xl lg:text-2xl font-medium text-gray-900 dark:text-white"
                  >
                    Pilotez votre chauffe-eau solaire
                  </h3>
                  <p class="text-sm px-5 max-w-4xl md:text-base lg:text-xl">
                    Où que vous soyez, suivez votre consommation et optimisez
                    l’utilisation de votre chauffe-eau grâce à des
                    fonctionnalités innovantes.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <label for="carousel-3" class="control-1"></label>
    <label for="carousel-2" class="control-1"></label>

    <!--Slide 2-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-2"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="carousel-item absolute opacity-0" style="height: 70vh">
      <div class="block h-full w-full bg-white text-5xl text-center">
        <div class="pt-6 md:pt-20 px-4 mb-1 mx-2 h-screen">
          <section>
            <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
              <div class="max-w-screen-lg mx-auto py-6 lg:py-12 md:py-6">
                <div class="flex flex-col items-center pb-10">
                  <img
                    class="mb-3 md:mb-16 md:w-80 md:h-80 lg:mb-32 lg:w-96 lg:h-96 w-72 h-72 rounded-full"
                    src="https://s3-alpha-sig.figma.com/img/c0a1/8622/eda3de84e73e7498f69f979027bf5032?Expires=1641168000&Signature=IabDUmucpZJOUUn4Ks5Ga6-JJsMqf-t29RvD0n3i1d9l5RWo2jLdlhgX-w0ULw29bwweYh7Y50YO5p1YKifar8FX4-OnGuqx~F9lqQHwBPwC2j7lFRdrCpljcqgZwfobGr5D8jS7RYh2FZYcyU2FAueZoLKzwMxcXNi3FLurjBCw9fGvcqB3Ni1rFFlssHw-prNlTksH6vrZA6nE2LVX5Xt0Q2IjpnhDmqJCWliDgvzWj9Q1dGimbx1AKCPxFduzX9U5yja6xcSG1QAKnN6L6GVC6b4ELlUhbBPquNze3ClO-I8QmDYE8H2rzL3ytetMcEpkoIy6-~3aQwMBJKEktQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                  />
                  <h3
                    class="mb-1 max-w-4xl text-xl lg:text-2xl font-medium text-gray-900 dark:text-white"
                  >
                    Faites une demande d’intervention
                  </h3>
                  <p class="text-sm px-5 max-w-4xl md:text-base lg:text-xl">
                    Gaïa entretient et répare vos équipements multimarques sur
                    toute La Réunion : chauffe-eau solaire, photovoltaïque,
                    climatisation et borne de recharge VE.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <label for="carousel-1" class="control-2"></label>
    <label for="carousel-3" class="control-2"></label>

    <!--Slide 3-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-3"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="carousel-item absolute opacity-0" style="height: 70vh">
      <div class="block h-full w-full bg-white text-5xl text-center">
        <div class="pt-6 md:pt-20 px-4 mb-1 mx-2 h-screen">
          <section>
            <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
              <div class="max-w-screen-lg mx-auto py-6 lg:py-12 md:py-6">
                <div class="flex flex-col items-center pb-10">
                  <img
                    class="mb-3 md:mb-16 md:w-80 md:h-80 lg:mb-32 lg:w-96 lg:h-96 w-72 h-72 rounded-full"
                    src="https://s3-alpha-sig.figma.com/img/e383/e108/b683e37868180ea1295adb3ea5123d00?Expires=1641168000&Signature=LOHKR7OA44VXwiD8Y5H07Y1f3iSK9VQuVZu1eMKVQHdbq7MNDV3HlJlUXDYJN3d0lo4kfYmwEhoD1s4Zk8CIh9pczctiQcbLSEsb4G3PxKZja8c4l3WKAuyXreI~Ovl47t8FnKYkPyMYqXUAuxcCU8HC8M5nKxzpNxEBNWoDoNdh0vM2cKQX3SMXZVi2h9Is40AZFuncCUa-rIqPAxCjW4m3yx-kbdZyH~if~mFAqhlZEb3Sp9HoOJ9ApiJ68Zcx2baHVJYqcBxDeMcdFpH3-RZO6q34bamjbjNrkHyrWlHS0t~ej7l952iRQIWo9huknvh3V2CXCIOT4W9pin~SoQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                  />
                  <h3
                    class="mb-1 max-w-4xl text-xl lg:text-2xl font-medium text-gray-900 dark:text-white"
                  >
                    Suivez l’actualité du groupe
                  </h3>
                  <p class="text-sm px-5 max-w-4xl md:text-base lg:text-xl">
                    Retrouvez les derniers articles de blog remplis de conseils
                    et astuces sur l’énergie à La Réunion !
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <label for="carousel-2" class="control-3"></label>
    <label for="carousel-1" class="control-3"></label>

    <!-- Add additional indicators for each slide-->
    <ol class="carousel-indicators">
      <li class="inline-block mr-3">
        <label
          for="carousel-1"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-200 hover:text-yellow-700"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-2"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-200 hover:text-yellow-700"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-3"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-200 hover:text-yellow-700"
          >•</label
        >
      </li>
    </ol>
  </div>
</div>
<!-- Section Footer -->
<div class="pt-6 md:pt-24 lg:pt-32 px-4 mb-1 mx-2 h-screen">
  <section>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <div class="pb-5">
        <div class="flex">
          <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
            <button
              type="button"
              class="w-full flex justify-center lg:py-5 mt-3 py-3 px-4 border border-green-800 text-base lg:text-lg font-medium rounded-xl text-green-800 bg-white hover:bg-indigo-900 hover:text-white hover:border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Créer un compte
            </button>
          </div>
        </div>
        <div class="flex">
          <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
            <button
              type="button"
              class="w-full flex justify-center mt-3 lg:py-5 py-3 px-4 border border-transparent text-base lg:text-lg font-medium rounded-xl text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Découvrir l’application
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
