<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <h1
      class="py-2 text-base lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
    >
      Préférences de notifications
    </h1>
  </div>
</nav>
<div class="pt-16 px-4 mb-32 mx-2 h-full">
  <!-- Setion Informations -->
  <p class="mt-4 mb-2 max-w-4xl text-sm md:text-base lg:text-base">
    Gérez les préférences de notifications de l’application Gaïa.
  </p>
  <section>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <form>
        <div class="pb-5">
          <h2 class="font-medium md:text-base">Notification push</h2>

          <div class="pb-2">
            <div
              class="flex flex-col px-5 py-3 rounded-xl w-full mt-2 mb-4 bg-white border-transparent"
            >
              <div class="grid grid-cols-3 gap-14 lg:gap-40 2xl:gap-60">
                <div
                  class="w-full col-span-2 bg-white text-sm lg:text-base xl:text-base"
                >
                  Alerte de surconsommation eau
                </div>
                <div class="w-full bg-white">
                  <!-- Toggle A -->
                  <div class="rounded-xl w-full bg-white border-transparent">
                    <label
                      for="toogleA"
                      class="flex items-center cursor-pointer"
                    >
                      <!-- toggle -->
                      <div class="relative items-end">
                        <!-- input -->
                        <input id="toogleA" type="checkbox" class="sr-only" />
                        <!-- line -->
                        <div
                          class="w-10 h-4 bg-gray-200 rounded-full shadow-inner items-end"
                        ></div>
                        <!-- dot -->
                        <div
                          class="dot absolute w-6 h-6 bg-gray-300 rounded-full shadow -left-1 -top-1 transition"
                        ></div>
                      </div>
                      <!-- label -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col px-5 py-3 rounded-xl w-full mt-2 mb-4 bg-white border-transparent"
            >
              <div class="grid grid-cols-3 gap-14 lg:gap-40 2xl:gap-60">
                <div
                  class="w-full col-span-2 bg-white text-sm lg:text-base xl:text-base"
                >
                  Seuil douche disponible faible
                </div>
                <div class="w-full bg-white">
                  <!-- Toggle B -->
                  <div class="rounded-xl w-full bg-white border-transparent">
                    <label
                      for="toogleB"
                      class="flex items-center cursor-pointer"
                    >
                      <!-- toggle -->
                      <div class="relative items-end">
                        <!-- input -->
                        <input id="toogleB" type="checkbox" class="sr-only" />
                        <!-- line -->
                        <div
                          class="w-10 h-4 bg-gray-200 rounded-full shadow-inner items-end"
                        ></div>
                        <!-- dot -->
                        <div
                          class="dot absolute w-6 h-6 bg-gray-300 rounded-full shadow -left-1 -top-1 transition"
                        ></div>
                      </div>
                      <!-- label -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col px-5 py-3 rounded-xl w-full mt-2 mb-4 bg-white border-transparent"
            >
              <div class="grid grid-cols-3 gap-14 lg:gap-40 2xl:gap-60">
                <div
                  class="w-full col-span-2 bg-white text-sm lg:text-base xl:text-base"
                >
                  Économies réalisées / mois
                </div>
                <div class="w-full bg-white">
                  <!-- Toggle C -->
                  <div class="rounded-xl w-full bg-white border-transparent">
                    <label
                      for="toogleC"
                      class="flex items-center cursor-pointer"
                    >
                      <!-- toggle -->
                      <div class="relative items-end">
                        <!-- input -->
                        <input id="toogleC" type="checkbox" class="sr-only" />
                        <!-- line -->
                        <div
                          class="w-10 h-4 bg-gray-200 rounded-full shadow-inner items-end"
                        ></div>
                        <!-- dot -->
                        <div
                          class="dot absolute w-6 h-6 bg-gray-300 rounded-full shadow -left-1 -top-1 transition"
                        ></div>
                      </div>
                      <!-- label -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col px-5 py-3 rounded-xl w-full mt-2 mb-4 bg-white border-transparent"
            >
              <div class="grid grid-cols-3 gap-14 lg:gap-40 2xl:gap-60">
                <div
                  class="w-full col-span-2 bg-white text-sm lg:text-base xl:text-base"
                >
                  Actualités du groupe Gaïa
                </div>
                <div class="w-full bg-white">
                  <!-- Toggle D -->
                  <div class="rounded-xl w-full bg-white border-transparent">
                    <label
                      for="toogleD"
                      class="flex items-center cursor-pointer"
                    >
                      <!-- toggle -->
                      <div class="relative items-end">
                        <!-- input -->
                        <input id="toogleD" type="checkbox" class="sr-only" />
                        <!-- line -->
                        <div
                          class="w-10 h-4 bg-gray-200 rounded-full shadow-inner items-end"
                        ></div>
                        <!-- dot -->
                        <div
                          class="dot absolute w-6 h-6 bg-gray-300 rounded-full shadow -left-1 -top-1 transition"
                        ></div>
                      </div>
                      <!-- label -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
