<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="flex flex-col px-1 py-1 w-full bg-white border-transparent">
      <div class="grid grid-cols-10 gap-0">
        <div class="w-full h-full py-1 flex flex-col bg-white items-center">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 lg:h-6 lg:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              /></svg
          ></a>
        </div>
        <div class="w-full h-full col-span-9 bg-white">
          <h1
            class="text-base py-1 lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
          >
            Foire aux questions
          </h1>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="pt-16 px-4 mb-32 mx-2 h-full">
  <!-- Setion Informations -->
  <section>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <h2 class="font-medium pb-2 md:text-md">Chauffe-eau</h2>
    </div>
  </section>
  <section>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <h2 class="font-medium pb-2 md:text-md">PhotovoltaÏque</h2>
    </div>
  </section>
</div>
