<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="flex flex-col px-1 py-1 w-full bg-white border-transparent">
      <div class="grid grid-cols-10 gap-0">
        <div class="w-full h-full py-1 flex flex-col bg-white items-center">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 lg:h-6 lg:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              /></svg
          ></a>
        </div>
        <div class="w-full h-full col-span-9 bg-white">
          <h1
            class="text-base py-1 lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
          >
            Demande d'intervention
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="relative pt-0">
    <div class="overflow-hidden h-1 text-xs flex rounded bg-gray-200">
      <div
        style="width: 50%"
        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500"
      ></div>
    </div>
  </div>
</nav>
<div class="pt-16 px-4 mb-4 mx-2 h-full">
  <!-- Setion Etape 2 -->
  <section>
    <h2 class="mt-4 font-medium">
      <span class="text-green-800">Etape 2 :</span>
      Votre problème
    </h2>
    <p class="mt-2 max-w-4xl text-sm lg:text-base">
      Quel problème rencontrez-vous avec votre équipement Gaïa ?
    </p>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <form class="text-sm lg:text-base">
        <link
          href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css"
          rel="stylesheet"
        />
        <select
          class="form-select block w-full h-10 lg:h-12 mt-3 rounded-xl text-gray-400"
        >
          <option>Selectionnez un problème</option>
          <option>...</option>
        </select>
      </form>
    </div>
  </section>
  <!-- Setion Photos -->
  <section>
    <div class="lg:mt-3">
      <h2 class="font-medium">Photos de l'incident</h2>
      <p class="mt-2 max-w-4xl text-sm lg:text-base">
        Transmettez-nous les photos que vous avez rencontré avec votre
        équipement Gaïa.
      </p>
    </div>
    <form
      class="grid grid-cols-2 xl:grid-cols-3 gap-2 w-full pt-2 object-center"
    >
      <div>
        <div class="flex flex-col p-2 cursor-pointer">
          <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
            <label
              class="w-full flex flex-col items-center px-4 py-6 bg-white rounded-md shadow-md tracking-wide uppercase border border-blue cursor-pointer hover:bg-green-600 hover:text-white text-green-600 ease-linear transition-all duration-150"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <input type="file" class="hidden" />
            </label>
          </div>
        </div>
      </div>
    </form>
    <form class="py-5">
      <div class="mb-5">
        <h2 class="font-medium">Eléments complémentaires (facultatif)</h2>
      </div>
      <link
        href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css"
        rel="stylesheet"
      />
      <textarea
        class="resize-none border rounded-xl w-full h-36 xl:30"
        placeholder="Description de l'incident rencontrer ..."
        rows="3"
      ></textarea>
      <!-- Section  Boutons -->
      <section>
        <div class="pt-2 pb-4 max-w-screen-lg mx-auto sm:pt-1 sm:pb-2">
          <div class="grid grid-cols-2 gap-2 w-full pt-2 object-center">
            <button
              type="button"
              class="w-full inline-flex justify-center rounded-xl border border-transparent shadow-sm px-4 py-3 lg:py-4 text-sm font-medium text-gray-600 bg-white hover:bg-green-700 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Prècédent
            </button>
            <button
              type="button"
              class="w-full inline-flex justify-center rounded-xl border border-transparent shadow-sm px-4 py-3 lg:py-4 text-sm font-medium text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Suivant
            </button>
          </div>
        </div>
      </section>
    </form>
  </section>
</div>
