<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <h1
      class="py-2 text-base lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
    >
      Maintenance et services
    </h1>
  </div>
</nav>
<div class="pt-16 px-4 mb-32 mx-2 h-full">
  <!-- Setion Maintenance -->
  <section>
    <div class="max-w-screen-lg mx-auto py-6 xl:py-6">
      <img
        src="https://s3-alpha-sig.figma.com/img/c0a1/8622/eda3de84e73e7498f69f979027bf5032?Expires=1643587200&Signature=eXYPBoB17DwPdFf~FRsZs1mRTB6fCVJhvGYeOV36gn09WUhHot2PRlyExRf65jXZyGyPJXxrGeH1TSSGL04GZAtAR3lhDAMAI0AsZ2fRrh-LOyU~Stwah~XpIFpOvnFSYU2seqXt4nXPZN76ajh7bGrQUz2vFNKtdFyBAMi4LK2LIrC6~rVFcqlU4Qdmc5J1fdMinRoEgccxOedZX5CakButte5CsLz6wHV-5rSUa7zCo3fFYsJaghWDRLSfNZkHtlpV5~xa-Yhwt6ZtYTT0cptlec~BuDNsqm80w5-0YgpytPb1ZiY0EddeVI3CzpbS1qZ3Hfqrm3aTrqKuYyXQvw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        class="bg-gray-100 rounded-lg"
      />
    </div>
    <div>
      <p
        class="text-base leading-7 font-extrabold text-gray-900 lg:text-xl xl:text-xl"
      >
        Gaïa entretient et répare vos équipements multimarques
      </p>
    </div>
    <div>
      <p
        class="mt-4 max-w-4xl text-sm md:text-base lg:text-lg xl:text-lg text-gray-500 lg:mx-auto"
      >
        Vous rencontrez un problème avec vos équipements à la Réunion :
        Chauffe-eau solaire, Photovoltaïque, Climatisation et Borne de recharge
        VE ... <br /><br />

        Que ce soit un équipement de marque Gaïa, ou non, adressez-nous votre
        demande d’intervention.
        <span class="text-green-800">Lire la suite</span>
      </p>
    </div>
  </section>
  <section>
    <div class="py-3 max-w-screen-lg mx-auto">
      <div class="pb-5">
        <div class="flex">
          <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
            <button
              type="button"
              class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-sm md:text-base lg:text-lg font-medium rounded-xl text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Créer une demande d’intervention
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- fixed nav -->
<nav
  class="fixed inset-x-0 max-w-full md:w-1/2 lg:w-1/2 xl::w-1/2 bottom-0 bg-white flex justify-between text-sm text-gray-500"
>
  <a
    href="https://www.google.fr"
    class="w-full block py-5 px-3 text-center hover:text-green-800 transition duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
      />
    </svg>
    Accueuil
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
      />
    </svg>
    Produits
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      /></svg
    >Maintenance
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
      /></svg
    >Réglages
  </a>
</nav>
