<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="justify-between">
      <h1
        class="py-2 text-base lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
      >
        Nouveau produit
      </h1>
    </div>
  </div>
</nav>
<div class="pt-16 px-4 mb-7 mx-2 h-full">
  <!-- Setion nouveau produit -->
  <section>
    <div class="max-w-screen-lg mx-auto py-6 xl:py-6">
      <img
        src="https://s3-alpha-sig.figma.com/img/e560/ba23/2da0a97126cc6fdbd0aea38ff10ad9c6?Expires=1643587200&Signature=VgqAkMI04VDEUp1-gnw09Vyd85-rClATNHkJH00IpSD3Gyy38moPi2O0Nxq6PO5S3UCByIvFiupP8JUKCGtJwBArasN7hRPFh02iZiW9hr2XasCgB4dFXoUL4artQXZKXnQiywwEJ8Kcww6HU~jsTOA2BHKvzVmG-1xqDTfH8RTjpUf01Vm4iYlxmVPoFW5rmER4Nk5PLIFxUhgXB09jnqhFZBNDiw6kTmHyWybnINFRSfxkciow~T2G1bha8sbC4GtVwfHexSvcu6UhCEL2bFHL~mmE9As6XeUymd-EMNNZy9i~6kwZ-7vQ6GfhPZts8eSul1FADEp7Fecsg4ph0A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        class="bg-gray-100 rounded-lg"
      />
    </div>
    <div>
      <p
        class="text-base leading-7 font-extrabold text-gray-900 lg:text-xl xl:text-xl"
      >
        Avec Gaïa, votre chauffe-eau solaire devient connecté grâce au e-SOFFO !
      </p>
    </div>
    <div>
      <p
        class="mt-4 max-w-4xl text-sm md:text-base lg:text-lg xl:text-lg text-gray-500 lg:mx-auto"
      >
        Vous êtes équipés d’un chauffe-eau solaire de la gamme SOFFO de la
        marque Gaïa ou d’une autre marque ? <br /><br />
        Où que vous soyez, pilotez votre chauffe-eau solaire grâce à l’option
        e-SOFFO. Accédez ainsi à votre espace personnel sécurisé et à des
        fonctionnalités innovantes...
        <span class="text-green-800">Lire la suite</span>
      </p>
    </div>
  </section>
  <section>
    <div class="py-3 max-w-screen-lg mx-auto">
      <div class="pb-5">
        <div class="flex">
          <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
            <button
              type="button"
              class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-sm md:text-base lg:text-lg font-medium rounded-xl text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Je veux un e-SOFFO
            </button>
          </div>
        </div>
        <div class="flex">
          <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
            <button
              type="button"
              class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-sm md:text-base lg:text-lg font-medium rounded-xl text-green-800 bg-white hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Je possède déjà un e-SOFFO
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
