<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="flex flex-col px-1 py-1 w-full bg-white border-transparent">
      <div class="grid grid-cols-10 gap-0">
        <div class="w-full h-full py-1 flex flex-col bg-white items-center">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 lg:h-6 lg:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              /></svg
          ></a>
        </div>
        <div class="w-full h-full col-span-9 bg-white">
          <h1
            class="text-base py-1 lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
          >
            Demande d'intervention
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="relative pt-0">
    <div class="overflow-hidden h-1 text-xs flex rounded bg-gray-200">
      <div
        style="width: 20%"
        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500"
      ></div>
    </div>
  </div>
</nav>
<div class="pt-16 px-4 mb-4 mx-2 h-full">
  <!-- Setion Etape 1 -->

  <section>
    <h2 class="font-medium mt-4">
      <span class="text-green-800">Etape 1 :</span>
      Sélection de votre produit
    </h2>
    <p class="mt-2 max-w-4xl text-sm lg:text-base">
      Parmis vos produits, lequel requiert l’intervention d’un technicien à
      votre domicile ?
    </p>
    <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
      <button
        type="submit"
        class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-xl border-green-800 text-green-800 bg-white hover:border-green-600 hover:text-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600"
      >
        Sélectionnez un produit enregistré
      </button>
    </div>
  </section>
  <section>
    <div class="text-center">
      <h2 class="font-medium text-sm">
        <div class="border-b-2"></div>
        Ou renseigner un produit
      </h2>
    </div>
    <form class="grid grid-cols-2 gap-2 w-full pt-2 object-center">
      <div>
        <div class="flex flex-col p-2 cursor-pointer">
          <div
            class="w-full rounded-xl overflow-hidden shadow-lg h-30 bg-white"
          >
            <input
              type="radio"
              class="form-radio m-1 cursor-pointer"
              name="radio"
              value="1"
              checked
            />
            <img
              class="w-full h-full"
              src="https://s3-alpha-sig.figma.com/img/dfd9/6484/6aa196c73c8f3d77627fa9e99d7269ac?Expires=1643587200&Signature=buHpbpLUT2fL-hUMdP-fMWKwLFESlLkZinRUNZhttjAFSgwA6flqQyXbNcrMgRutBaEK1ToFd60L4G~ZpkMjypHEPl3Wmj~bXS5uqihT8bXUvIDqDN~h6hk8C6xoH0vQzxKkYnocPrVi9WzoMUMrhHqXrLvW4J9LTsRaIbItzG5Yhwi6PXaZ9dOzGO2Z-j6S0CgyLmgES4gsqX5WiMJ4JdErTf3s9Xc2W6oiQHNgqst96aWGTXSbOh~KhfqlqSYr-gGZLNHuExeGMRMKgs6JWhYzutE3zsYADY3tmyGt5XKdEYqM2HS4wZPNZDg-p52Z87Uu7~oNaUPPZjRA3T5PZA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            />
            <div class="border-b-2 mx-2"></div>
            <div class="font-medium mb-2 text-center mt-2 text-xs">
              Chauffe-eau solaire
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex flex-col p-2 cursor-pointer">
          <div
            class="w-full rounded-xl overflow-hidden shadow-lg h-30 bg-white"
          >
            <input
              type="radio"
              class="form-radio m-1 cursor-pointer"
              name="radio"
              value="1"
              unchecked
            />

            <img
              class="w-full"
              src="https://s3-alpha-sig.figma.com/img/5116/7dd8/c6bdad83cd8a737fc8f0fd8bdfc6b3a8?Expires=1643587200&Signature=MKsDOZ0LUOMet1it4HWxVhAwuLU7tSgcXVqZPUh3octPW62pBtw3ccqav6duRsaKC24g1l0yqTQk9r~aBSPn4BLRJasJzBUdb9~CdYBbNA8E8fiMbYjpDl1fQUsIfgauOqv~oooqO7OkXQpDVM24xwN1REFFAVvqDZw57qAhizCOrI7YONfox~G6MPSDOdVG2aPY9UMoAnpH8nfuzeyUDA21qibiFLPSzX4D-iuXFfdC8FQ9tzQLUp-5wL-PjyjVl6Tr1sR6Y8lKJkQY1s1CeENlxXESZAzo-FOtuGt6VNhTx~kBimvti6FuPH2bS1FTEP3~8cgX0uZxaoR5viHrhw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            />
            <div class="border-b-2 mx-2"></div>
            <div class="font-medium mb-2 text-center mt-2 text-xs">
              Photovoltaïque
            </div>
          </div>
        </div>
      </div>
    </form>
    <form class="py-5 text-sm">
      <link
        href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css"
        rel="stylesheet"
      />
      <select
        class="form-select block w-full h-10 mt-3 rounded-xl text-gray-400"
      >
        <option>Selectionnez un modèle</option>
        <option>...</option>
      </select>
      <select
        class="form-select block w-full h-10 mt-3 rounded-xl text-gray-400"
      >
        <option>Configuration (en titre)</option>
        <option>...</option>
      </select>
      <select
        class="form-select block w-full h-10 mt-3 rounded-xl text-gray-400"
      >
        <option>Marque (Ex : Gaïa)</option>
        <option>...</option>
      </select>
      <div class="mb-0 pt-4 max-w-screen-lg mx-auto">
        <div class="grid grid-cols-2 gap-2 w-full pt-2 object-center">
          <button
            type="button"
            class="invisible w-full inline-flex justify-center rounded-xl border border-transparent shadow-sm px-4 py-3 lg:py-4 text-sm font-medium text-gray-600 bg-white hover:bg-green-700 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Prècédent
          </button>
          <button
            type="button"
            class="w-full inline-flex justify-center rounded-xl border border-transparent shadow-sm px-4 py-3 lg:py-4 text-sm font-medium text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Suivant
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
