<nav class="bg-white max-w-full inset-x-0">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <h1
      class="py-2 text-base lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
    >
      Nouveau mot de passe
    </h1>
  </div>
</nav>

<div class="pt-6 px-4 mb-1 mx-2 h-screen">
  <p class="mt-2 max-w-4xl text-sm lg:text-base">
    Renseignez à présent votre mot de passe, celui-ci doit comporter au moins 8
    caractères.
  </p>

  <section>
    <div class="py-3 lg:py-3 max-w-screen-lg mx-auto">
      <form>
        <div class="pb-5">
          <input
            type="password"
            placeholder="Nouveau mot de passe"
            class="text-black placeholder-gray-400 w-full px-4 py-3 mt-3 text-base md:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-green-800"
          />
          <div>
            <input
              type="password"
              placeholder="Confirmation du mot de passe"
              class="text-black placeholder-gray-400 w-full px-4 py-3 mt-3 text-base md:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-green-800"
            />
          </div>
          <div class="flex">
            <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
              <button
                type="button"
                class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-base font-medium rounded-xl text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600"
              >
                Sauvegarder
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
