<nav class="bg-white max-w-full inset-x-0 fixed">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <h1 class="py-2 text-3xl leading-4 font-bold tracking-wide text-green-800">
      Gaïa
    </h1>
  </div>
</nav>
<div class="pt-16 px-4 mb-32 mx-2 h-full">
  <!-- Setion Solution -->
  <section>
    <h1
      class="mt-4 max-w-4xl text-base lg:text-base 2xl:text-xl font-bold tracking-wide"
    >
      Les solutions Gaïa
    </h1>
    <form class="grid grid-cols-2 gap-1 w-full pt-2 object-center">
      <div>
        <div class="flex flex-col p-2 cursor-pointer">
          <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
            <a
              href="#"
              class="cursor-pointer flex flex-col w-full h-full bg-white py-2 px-4 rounded"
              ><div
                class="items-center flex flex-col pb-2 bg-white h-24 md:h-30 lg:h-36"
              >
                <img class="w-full h-full" src="../assets/images/chauffe.png" />
              </div>
              <div class="border-b-2"></div>
              <span
                class="pt-4 font-semibold text-sm 2xl:text-base text-gray-800 items-start"
                >Chauffe-eau solaire</span
              >
              <span
                class="inline-flex font-normal text-sm 2xl:text-base text-gray-400 items-start"
                >En savoir plus
              </span>
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="flex flex-col p-2 cursor-pointer">
          <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
            <a
              href="#"
              class="cursor-pointer flex flex-col w-full h-full bg-white py-2 px-4 rounded"
            >
              <div
                class="items-center flex flex-col pb-2 bg-white h-24 md:h-30 lg:h-36"
              >
                <img class="w-full h-full" src="../assets/images/photo.png" />
              </div>
              <div class="border-b-2"></div>
              <span
                class="pt-4 font-semibold text-sm 2xl:text-base text-gray-800 items-start"
                >Photovoltaïque</span
              >
              <span
                class="inline-flex font-normal text-sm 2xl:text-base text-gray-400 items-start"
                >En savoir plus
              </span>
            </a>
          </div>
        </div>
      </div>
    </form>
  </section>

  <!-- Setion Actu -->
  <section>
    <div class="flex justify-between items-center mb-4 2xl:pt-6">
      <h1
        class="mt-4 max-w-4xl text-base lg:text-base 2xl:text-xl font-bold tracking-wide"
      >
        Nos dernière actualités
      </h1>
      <a
        href="#"
        class="mt-4 text-base lg:text-base 2xl:text-xl font-bold text-green-700 hover:underline"
      >
        Voir le blog
      </a>
    </div>
    <form class="grid grid-cols gap-3 w-full pt-2 object-center">
      <a
        href="#"
        class="grid grid-cols-3 gap-3 justify-evenly p-2 h-30 md:h-32 overflow-hidden rounded-xl bg-white w-full"
      >
        <div class="place-items-center flex flex-col">
          <img
            class="w-full h-full object-cover rounded-lg"
            src="../assets/images/img5.png"
          />
        </div>
        <div class="col-span-2 h-full">
          <h3
            class="text-sm font-semibold md:text-base lg:text-lg pb-2 md:pb-4 lg:pb-6 xl:pb-6 2xl:pb-12"
          >
            162 Tonnes de CO2 économisées grâce à Gaïa Photovoltaïque
          </h3>
          <span
            class="text-gray-500 text-sm md:text-base lg:text-lg align-bottom"
          >
            #Photovoltaïque
          </span>
        </div>
      </a>
      <a
        href="#"
        class="grid grid-cols-3 gap-3 justify-evenly p-2 h-30 md:h-32 overflow-hidden rounded-xl bg-white w-full"
      >
        <div class="place-items-center flex flex-col">
          <img
            class="w-full h-full object-cover rounded-lg"
            src="../assets/images/img6.png"
          />
        </div>
        <div class="col-span-2 h-full">
          <h3
            class="text-sm font-semibold md:text-base lg:text-lg pb-2 md:pb-4 lg:pb-6 xl:pb-6 2xl:pb-12"
          >
            Quel est le prix d’un chauffe-eau solaire à La Réunion ?
          </h3>
          <span
            class="text-gray-500 text-sm md:text-base lg:text-lg align-bottom"
          >
            #chaufe-eau
          </span>
        </div>
      </a>
      <a
        href="#"
        class="grid grid-cols-3 gap-3 justify-evenly p-2 h-30 md:h-32 overflow-hidden rounded-xl bg-white w-full"
      >
        <div class="place-items-center flex flex-col">
          <img
            class="w-full h-full object-cover rounded-lg"
            src="../assets/images/img6.png"
          />
        </div>
        <div class="col-span-2 h-full">
          <h3
            class="text-sm font-semibold md:text-base lg:text-lg pb-2 md:pb-4 lg:pb-6 xl:pb-6 2xl:pb-12"
          >
            Un arbre planté pour chaque chauffe-eau Gaïa posé
          </h3>
          <span
            class="text-gray-500 text-sm md:text-base lg:text-lg align-bottom"
          >
            #chaufe-eau
          </span>
        </div>
      </a>
    </form>
  </section>
</div>

<!-- fixed nav -->
<nav
  class="fixed inset-x-0 max-w-full bottom-0 bg-white flex justify-between text-sm text-gray-500"
>
  <a
    href="https://www.google.fr"
    class="w-full block py-5 px-3 text-center hover:text-green-800 transition duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
      />
    </svg>
    Accueuil
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
      />
    </svg>
    Produits
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      /></svg
    >Maintenance
  </a>

  <a href="#" class="w-full block py-5 px-3 text-center hover:text-green-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mb-2 mx-auto"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
      /></svg
    >Réglages
  </a>
</nav>
