<nav class="fixed inset-x-0 max-w-full bg-white">
  <div
    class="mx-auto max-w-full border py-2 text-center lg:py-1 lg:text-center"
  >
    <h1 class="py-2 text-3xl font-bold leading-4 tracking-wide text-green_gaia">
      Gaïa
    </h1>
  </div>
</nav>

<div class="mx-2 mb-20 h-full px-4 pt-16">
  <!-- Setion Solution -->
  <section>
    <h1
      class="mt-4 max-w-4xl text-base font-bold tracking-wide lg:text-base 2xl:text-xl"
    >
      Les solutions Gaïa
    </h1>
    <form class="grid w-full grid-cols-2 gap-1 object-center pt-2">
      <div>
        <div class="flex cursor-pointer flex-col p-2">
          <div
            class="w-full overflow-hidden rounded-xl bg-white border border-gray-200"
          >
            <a
              href="#"
              class="flex h-full w-full cursor-pointer flex-col rounded bg-white py-2 px-4"
              ><div
                class="flex h-24 flex-col items-center bg-white pb-2 lg:h-36"
              >
                <img class="h-full w-full" src="../assets/images/chauffe.png" />
              </div>
              <div class="border-b-2"></div>
              <div class="grid grid-cols-10 gap-0"></div>
              <span
                class="items-start truncate pt-4 text-sm font-semibold text-gray-800 2xl:text-base"
                >Chauffe-eau solaire</span
              >
              <div class="grid grid-cols-10 gap- pt-1">
                <div class="w-full h-full col-span-9 bg-white">
                  <h1 class="text-sm font-normal text-gray-400">
                    En savoir plus
                  </h1>
                </div>
                <div
                  class="w-full h-full py-1 flex flex-col bg-white items-center"
                >
                  <a href="#"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-gray-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      /></svg
                  ></a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="flex cursor-pointer flex-col p-2">
          <div
            class="w-full overflow-hidden rounded-xl bg-white border border-gray-200"
          >
            <a
              href="#"
              class="flex h-full w-full cursor-pointer flex-col rounded bg-white py-2 px-4"
            >
              <div
                class="flex h-24 flex-col items-center bg-white pb-2 lg:h-36"
              >
                <img class="h-full w-full" src="../assets/images/photo.png" />
              </div>
              <div class="border-b-2"></div>
              <span
                class="items-start pt-4 text-sm font-semibold text-gray-800 2xl:text-base"
                >Photovoltaïque</span
              >
              <div class="grid grid-cols-10 gap- pt-1">
                <div class="w-full h-full col-span-9 bg-white">
                  <h1 class="text-sm font-normal text-gray-400">
                    En savoir plus
                  </h1>
                </div>
                <div
                  class="w-full h-full py-1 flex flex-col bg-white items-center"
                >
                  <a href="#"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-gray-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      /></svg
                  ></a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </form>
  </section>

  <!-- Setion Actu -->

  <section class="pb-4">
    <div class="mb-4 flex items-center justify-between 2xl:pt-6">
      <h1
        class="mt-4 max-w-4xl text-base font-bold tracking-wide lg:text-base 2xl:text-xl"
      >
        Nos dernière actualités
      </h1>
      <a
        href="#"
        class="mt-4 text-base font-bold text-green_gaia hover:underline lg:text-base 2xl:text-xl"
      >
        Voir le blog
      </a>
    </div>
    <form class="grid-cols grid w-full gap-3 object-center pt-2">
      <a href="#!" class="flex justify-center w-full">
        <div class="shadow-lg rounded-t-lg bg-white max-w-sm">
          <div>
            <img class="rounded-t-lg" src="../assets/images/img5.png" alt="" />
          </div>
          <div class="p-3">
            <span
              class="align-bottom text-sm text-gray-400 font-bold md:text-base lg:text-lg"
            >
              #chaufe-eau
            </span>
            <h3
              class="py-2 md:pb-4 text-sm md:text-base lg:pb-6 lg:text-lg xl:pb-6 2xl:pb-12"
            >
              Quel est le prix d’un chauffe-eau solaire à La Réunion ?
            </h3>
          </div>
        </div>
      </a>
      <a href="#!" class="flex justify-center w-full">
        <div class="shadow-lg rounded-t-lg bg-white max-w-sm">
          <div>
            <img class="rounded-t-lg" src="../assets/images/img5.png" alt="" />
          </div>
          <div class="p-3">
            <span
              class="align-bottom text-sm text-gray-400 font-bold md:text-base lg:text-lg"
            >
              #chaufe-eau
            </span>
            <h3
              class="py-2 md:pb-4 text-sm md:text-base lg:pb-6 lg:text-lg xl:pb-6 2xl:pb-12"
            >
              Quel est le prix d’un chauffe-eau solaire à La Réunion ?
            </h3>
          </div>
        </div>
      </a>
      <a href="#!" class="flex justify-center w-full">
        <div class="shadow-lg rounded-t-lg bg-white max-w-sm">
          <div>
            <img class="rounded-t-lg" src="../assets/images/img6.png" alt="" />
          </div>
          <div class="p-3">
            <span
              class="align-bottom text-sm text-gray-400 font-bold md:text-base lg:text-lg"
            >
              #chaufe-eau
            </span>
            <h3
              class="py-2 md:pb-4 text-sm md:text-base lg:pb-6 lg:text-lg xl:pb-6 2xl:pb-12"
            >
              Quel est le prix d’un chauffe-eau solaire à La Réunion ?
            </h3>
          </div>
        </div>
      </a>
    </form>
  </section>

  <div class="sticky flex space-x-2 justify-center bottom-32">
    <button
      type="button"
      class="px-6 pt-2.5 pb-2 bg-green_gaia text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green_gaia active:shadow-lg transition duration-150 ease-in-out flex align-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
        />
      </svg>
      NOUS CONTACTER
    </button>
  </div>
</div>

<!-- fixed nav -->
<nav
  class="fixed inset-x-0 bottom-0 flex max-w-full justify-between bg-white text-sm text-gray-500"
>
  <div class="block w-full py-5 px-3 text-center font-bold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto mb-2 h-6 w-6 text-green_gaia"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
      />
    </svg>
    Accueil
  </div>

  <a
    routerLink="/produits"
    class="block w-full py-5 px-3 text-center hover:text-green_gaia"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto mb-2 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
      />
    </svg>
    Produits
  </a>

  <a
    routerLink="/maintenance"
    class="block w-full py-5 px-3 text-center hover:text-green_gaia"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto mb-2 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      /></svg
    >Maintenance
  </a>

  <a
    routerLink="/reglages"
    class="block w-full py-5 px-3 text-center hover:text-green_gaia"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto mb-2 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
      /></svg
    >Réglages
  </a>
</nav>
