<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="flex flex-col px-1 py-1 w-full bg-white border-transparent">
      <div class="grid grid-cols-10 gap-0">
        <div class="w-full h-full col-span-9 bg-white">
          <h1
            class="text-base py-1 lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
          >
            Demande d'intervention
          </h1>
        </div>
        <div class="w-full h-full py-1 flex flex-col bg-white items-center">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 lg:h-6 lg:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              /></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="pt-16 px-4 mx-2 h-screen flex justify-center items-center">
  <!-- Setion Recap -->
  <section class="w-96 h-auto text-center">
    <img
      src="https://s3-alpha-sig.figma.com/img/c4dd/50b8/6b9274651dc8fe55d7a405e8e24feae7?Expires=1643587200&Signature=E7RYKHDJApdNlAtRdZ5CXDeqCWVjH26EQnPE4hutSMl60mC~GAm57mj4KRDzEBrdw6EWRnpOl0Z-CBxBkC1W71t40PVxdeR7ji-OCyTmBQInYHuSc8OeH8ytl-XsKwg0eRjkOAaATae8aDK17a9aXKYzDrRSjo8L4WC6jS3fYFry~Sitksxm5oSC3nb2BWSLBiT0o-v21Adzk9moriTfndF7Z5N-ayxH8n1kf8JcC~~b2MeDArGyVmIWEHNcUGcC8ns11b3BV~05gq5S3CAk5YcgZINo~L8moazuTum0RDtNa7f4HSPzmmrH8rYlIDy04MQV~-UFQv1ByiGqY3GY4A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
    />
    <h2 class="font-medium">Demande envoyé</h2>
    <p class="mt-2 max-w-4xl text-sm lg:text-base md:text-base">
      Merci, votre demande d'intervention vient d'être transmise à notre service
      de maintenance. Nous reviendrons vers vous dans les plus brefs délais.
    </p>
  </section>
</div>
