<nav class="bg-white max-w-full inset-x-0">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <div class="flex flex-col px-1 py-1 w-full bg-white border-transparent">
      <div class="grid grid-cols-10 gap-0">
        <div class="w-full h-full py-1 flex flex-col bg-white items-center">
          <a href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 lg:h-6 lg:w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              /></svg
          ></a>
        </div>
        <div class="w-full h-full col-span-9 bg-white">
          <h1
            class="text-base py-1 lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
          >
            Inscription
          </h1>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="pt-6 px-4 mb-1 mx-2 h-screen">
  <p class="mt-2 max-w-4xl text-sm lg:text-base">
    Votre inscription est presque finie ! Parlez-nous de la relation que vous
    avez avec Gaïa.
  </p>

  <section>
    <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
      <h2 class="font-medium">Quel est votre profil ?</h2>
    </div>
    <form class="grid grid-cols-2 gap-2 w-full pt-2 object-center">
      <div class="flex flex-col cursor-pointer">
        <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
          <div class="font-medium my-4 text-center text-sm">Particulier</div>
        </div>
      </div>
      <div class="flex flex-col cursor-pointer">
        <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
          <div class="font-medium my-4 text-center text-sm">Professionnel</div>
        </div>
      </div>
    </form>
    <div class="py-6 lg:py-6 max-w-screen-lg mx-auto">
      <h2 class="font-medium">Êtes-vous déjà client Gaïa ?</h2>
    </div>
    <form class="grid grid-cols-2 gap-2 w-full pt-2 object-center">
      <div class="flex flex-col cursor-pointer">
        <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
          <div class="font-medium my-4 text-center text-sm">Oui</div>
        </div>
      </div>
      <div class="flex flex-col cursor-pointer">
        <div class="w-full rounded-xl overflow-hidden shadow-lg bg-white">
          <div class="font-medium my-4 text-center text-sm">Non pas enocre</div>
        </div>
      </div>
    </form>
    <link
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css"
      rel="stylesheet"
    />

    <div class="block py-4">
      <div class="mt-4">
        <div>
          <input type="checkbox" class="form-checkbox" checked />
          <span class="ml-2"
            >Gaïa Groupe à repecter vos données. En vous inscrivant, vous
            acceptez nos conditions politique de confidentialité</span
          >
        </div>
      </div>
    </div>
    <div class="flex-grow pr-2 max-w-screen-lg mx-auto">
      <button
        type="button"
        class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-base font-medium rounded-xl text-white bg-green-800 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600"
      >
        Enregistrer mon inscription
      </button>
    </div>
  </section>
</div>
