<nav class="bg-white max-w-full inset-x-0 fixed md:w-1/2 lg:w-1/2 xl:w-1/2">
  <div
    class="max-w-full mx-auto border text-center lg:text-center py-2 lg:py-1"
  >
    <h1
      class="py-2 text-base lg:text-lg leading-4 font-bold tracking-tight text-gray-900"
    >
      Mes informations
    </h1>
  </div>
</nav>
<div class="pt-16 px-4 mb-32 mx-2 h-full">
  <!-- Setion Informations -->
  <p class="mt-4 mb-2 max-w-4xl text-sm md:text-base lg:text-lg">
    Mettez à jour vos données régulièrement pour faciliter nos interventions.
  </p>
  <section>
    <div class="py-3 lg:py-5 max-w-screen-lg mx-auto">
      <form>
        <div class="pb-5 lg:pb-10">
          <h2 class="font-medium md:text-lg">Mes informations générales</h2>
          <div class="flex">
            <div class="flex-grow pr-2">
              <input
                placeholder="Prénom"
                class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
              />
            </div>
            <div class="flex-grow">
              <input
                placeholder="Nom"
                class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
              />
            </div>
          </div>
          <input
            placeholder="Adresse mail"
            class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
          /><input
            placeholder="N° de téléphone"
            class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
          />
          <button
            type="button"
            class="w-full flex justify-center mt-3 py-3 px-4 border border-transparent text-sm md:text-base lg:text-lg font-medium rounded-xl text-gray-300 bg-gray-200 hover:bg-green-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
          >
            Éditer
          </button>
        </div>
        <div class="pb-5">
          <h2 class="font-medium md:text-lg">Adresse</h2>
          <input
            placeholder="Adresse"
            class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
          /><input
            placeholder="Complément d'adresse"
            class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
          />
          <div class="flex">
            <div class="flex-grow pr-2">
              <input
                placeholder="Code postal"
                class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
              />
            </div>
            <div class="flex-grow">
              <input
                placeholder="Ville"
                class="text-black placeholder-gray-400 w-full px-4 py-2.5 mt-2 lg:mt-3 text-sm md:text-base lg:text-lg transition duration-500 ease-in-out transform border border-gray-200 rounded-xl bg-white focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-400 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
